@page "/"
@using CoursesApp.Services
<h3>Awesome Courses You Can Follow!</h3>

@if (!string.IsNullOrEmpty(LikedCourseId))
{
    <p>Seems like you @(CoursesList.First(x=>x.ReferenceId == LikedCourseId).Name) We will make more courses like this!</p>
}

<CoursesApp.Pages.Common.Loader IsVisible="CoursesList == null"></CoursesApp.Pages.Common.Loader>

@if (CoursesList != null)
{
    <div class="courses-container">
        @foreach (var course in CoursesList)
        {
            <CourseItem Name="@course.Name" 
                Description="@course.Description"
                ReferenceId="@course.ReferenceId"
                OnLikeClicked="OnCourseLikeClicked"></CourseItem>
        }
    </div>
}

@code {
    private List<Data.Course> CoursesList { get; set; }
    private string LikedCourseId{ get; set; }

    [Inject]
    private ICoursesProvider coursesProvider { get; set; }

    protected async override Task OnInitializedAsync()
    {
        this.CoursesList = await coursesProvider.GetAll();
        base.OnInitialized();
    }

    public void OnCourseLikeClicked(string referenceId)
    {
        this.LikedCourseId = referenceId;
    }
}
